<div class="message_group">
    <h4>Project Name</h4>
    <p>Part Number</p>
    <p>Tool Serial Number</p>
    <ul class="messages">
        <li>
            <div class="message_date">
                <h3 class="date text-info">24</h3>
                <p class="month">May</p>
            </div>
            <div class="message_wrapper">
                <h4 class="heading">Desmond Davison</h4>
                <p class="message">Raw denim you probably haven't heard of them jean shorts Austin.
                    Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</p>
            </div>
        </li>
        <li>
            <div class="message_date">
                <h3 class="date text-error">21</h3>
                <p class="month">May</p>
            </div>
            <div class="message_wrapper">
                <h4 class="heading">Brian Michaels</h4>
                <p class="message">Raw denim you probably haven't heard of them jean shorts Austin.
                    Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</p>
            </div>
        </li>
    </ul>
</div>