{% extends "base_site.html" %}
{% load crispy_forms_tags %}

{% block title %} Update Profile {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Profile: {{ object.username }}</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          {% if object == request.user %}
          <div class="x_content">
            <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}