{% extends "base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} New Tool {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>New Assessment</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% for tool in object_list %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form.hidden_field}}
                            {{form.as_p}}
                            <input type="submit" value="Save" /> <a href="{% url 'tooling:tool_list' %}">back to the list</a>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'tooling/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add family member',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
</script>